@import"cores";
@import"fontes";

body{
    margin: 0;
}

#herder2{
    background-color: $cor-herder2;
    padding: 10px 20px;
   

    *{
        display: inline;
        vertical-align: middle;
    }

    img{
        width: 70px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    h1{
        font-family: "decorativa";
    
    }
    


}
#formularioItem{
    border: 3px solid $cor-margindoitem;
    padding: 15px;
    label, input{
        display: block;
        font-family: "padrao";
    }
    input{
        margin-bottom: 10px;

        &[type=button]{
            padding: 10px 20px;
                height: inherit; /*anula a altura padrão do botão*/
                background-color: $cor-botaoAdicionar;
                color: black;
        }
        &[type=number]{
            width: 60px;
            display: inline;
            font-family: "padrão";
        }
    }
    



}

#herder3{
    background-color: $cor-minhaLista;
    font-family: "decorativa";
    padding: 8px;
    *{
        display: block;
        vertical-align: middle;
    }

    img{
        width: 50px;
        margin-right: 20px;
        margin-bottom: 10px;
    }
}
//responsivo
@media only screen and (max-width: 600px) { /*todos os celulares e alguns tablets*/
    #herder2{
        padding: 5px;
        font-size: 80%;
    
    }
    img{
        width: 50px;
        margin-right: 20px;
        margin-bottom: 10px;
    }

    #herder3{
        padding: 5px;
        font-size: 80%;
    
    }
    img{
        margin-right: 5px;  
    }
  

}