@font-face{
    font-family: "decorativa";
    src: url(../fonts/WorkSans-Regular.ttf);
}
@font-face{
    font-family: "padrao";
    src: url(../fonts/Lobster-Regular.ttf);
}
$fonte-decorativa:"decorativa";
$fonte-padrao:"padrao";